footer
	.container
		.blocks
			.block
				h4 Social
				ul
					li
						span.iconsocial e
						span @GraficoPrisma
					li
						span.icon @
						span gerente@imprentaprisma.com
					li
						span.iconsocial f
						a(href="https://www.facebook.com/pages/Imprenta-Prisma/331988596880015?fref=ts") Facebook
			.block
				h4 Twitter
				ul#tweets
				p.twitterLink
					a.action(href="http://twitter.com/GraficoPrisma") Siguenos
			.block
				h4 Contacto
				ul
					li Imprenta Prisma
					li
						span.icon y
						span 20 de Noviembre 307-A Loc. 1
					li Pitillal, Puerto Vallarta, Jalisco
					li 
						span.icon 8
						span Tel: +523222225425
					li 
						span.icon 8
						span Tel: +523222228368
					li
						span.icon 8
						span Cel: (044)322 135 0396
	.copyright
		.container
			©2012 Imprenta Prisma. Diseñado por
			a(href="http://contactopv.com") ContactoPV

			script(type="text/javascript",src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
			
			script(type="text/javascript",src="http://maps.google.com/maps/api/js?sensor=false")
			script(type="text/javascript",src="http://www.shadowbox-js.com/build/shadowbox.js")
			script(type="text/javascript",src="/javascripts/bjqs-1.3.min.js")
			script(type="text/javascript",src="/javascripts/jquery.tweets.0.1.js")
			script(type="text/javascript",src="/javascripts/gmap3.min.js")
			script(src="/javascripts/main.js")