!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/font.css')
		link(rel='stylesheet', href='/stylesheets/font_awesome.css')
		link(rel='stylesheet', href='/stylesheets/bjqs.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/servicios.css')
	body
		header
			a(href="/")
				h1= title
			nav
				a(href="/nosotros") Nosotros
				a(href="/servicios") Servicio
			.tel
				span.nom Tel:
				span.lada (322)
				ul
					li 222 5425
					li 222 8368