include header

#slider
	ul.bjqs
		li.bjqs-slide
			img(src="/gallery/notas.jpg")
		li.bjqs-slider
			img(src="/gallery/notas2.jpg")

#container
			ul.features.blanco.bTopradius
				li
					.title
						span.icon P
						h3 Impresion
							span.sub Digital y Offset
					p Send and receive files between you friends and you.
				li
					.title
						span.icon A
						h3 Invitaciones
							span.sub Especiales
					p Ebnter a new dimension and star sharing through P2P
				li
					.title
						span.icon A
						h3 Sellos de Goma
							span.sub Automaticos
					p Try our super exclusive free plan and becom a Teleporter!
				li
					.title
						span.icon O
						h3 LLaveros Metalicos
							span.sub Personalizados
				li
					.title
						span.icon 6
						h3 Gran Formato
				li
					.title
						span.icon y
						h3 Publicidad
include footer