include header
#container
	.blanco
		h2.bluetitle Nosotros
		#map
		.pages
			.block
				.somos Con mas de 25 años de experiencia. Nos experimentamos en Artes graficas e Impresion Tradicional Offset, asi como en impresion Digital.
					span La mejor opcion en Vallarta
				.galeria
					img(src="gallery/oficina.png")
			.exp
				p Nos establecimos en Puerto Vallarta en 1999 y nos dedicamos principalmente a la impresión de papelería mediante sistema de impresión offset tradicional así como en impresión digital, lo que nos permite ofrecerle siempre el mejor costo independientemente del volumen que maneje, también contamos con otros tipos  de impresión que complementan nuestros servicios de manera integral como son la impresión  en gran formato y serigrafía entre otros.


include footer