include header
#container.blanco.bTopradius
	h2 Servicios
	h3 Impresion Offset y Digital
	ul.services
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Tarjetas
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Volantes
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Facturas
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Comandas
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Notas
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Calendarios
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Hojas Membretadas
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Folders
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Diplomas
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Posters
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Tripticos
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Folletos
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Menús
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Imanes
		li 
			.img 
				img(src="/gallery/publicidad.jpg")
			span Sobres
	h3 Sellos de Goma
	ul.services
		li
			.img 
				img(src="/gallery/sellos.jpg")
			span Sellos Autoentintables
		li
			.img 
				img(src="/gallery/publicidad.jpg")
			span Portatiles
		li
			.img 
				img(src="/gallery/publicidad.jpg")
			span Para piel
		li
			.img 
				img(src="/gallery/publicidad.jpg")
			span Para Ropa
	h3 Invitaciones
	ul.services
		li
			.img 
				img(src="/gallery/publicidad.jpg")
			span Bodas
		li
			.img 
				img(src="/gallery/publicidad.jpg")
			span XV Años
		li
			.img 
				img(src="/gallery/publicidad.jpg")
			span Bautizos
		li
			.img 
				img(src="/gallery/publicidad.jpg")
			span Primera Comunion
		li
			.img 
				img(src="/gallery/publicidad.jpg")
			span Graduacion
	h3 Gran Formato
	ul.services
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Lonas
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Display
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Caballete
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Toldos
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Rotulos
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Baners
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Rotulado de Auto
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Corte de Vinil
	ul.services
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Brazaletes
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span LLaveros
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Playeras Impresas y Bordados
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Serigrafia
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Plumas
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Tazas
		li
			.img
				img(src="/gallery/publicidad.jpg")
			span Encendedores
include footer