@import url(http://fonts.googleapis.com/css?family=Raleway);

@font-face{
	font-family: 'Aaargh';
	src: url('fonts/Aaargh-webfont.ttf') format('truetype');
}
@font-face{ 
font-family: 'PrismaIcon';
src: url('fonts/base/icomoon-webfont.eot');
src: url('fonts/base/icomoon-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/base/icomoon-webfont.woff') format('woff'),
     url('fonts/base/icomoon-webfont.ttf') format('truetype'),
     url('fonts/base/icomoon-webfont.svg#IcoMoonBase') format('svg');
}
@font-face{ 
font-family: 'SocialIcon';
src: url('fonts/social/icomoonsocial-webfont.eot');
src: url('fonts/social/icomoonsocial-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/social/icomoonsocial-webfont.woff') format('woff'),
     url('fonts/social/icomoonsocial-webfont.ttf') format('truetype'),
     url('fonts/social/icomoonsocial-webfont.svg#IcoMoonSocial') format('svg');
}
@font-face{
	font-family: "Segoe ui";
	src: url('fonts/segoeui.ttf') format('truetype');
}
.icon,
.iconsocial{
	
}
.icon{
	font-family:"PrismaIcon";
}
.iconsocial{
	font-family:"SocialIcon";
}
