h3 {
  margin: 10px;
  padding: 5px;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.4);
  text-rendering: optimizeLegibility;
  font-family: "Raleway";
}
ul.services {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 850px;
}
ul.services li {
  list-style: none;
  margin: 10px;
  background-color: #fff;
  padding: 5px;
  display: inline-block;
  width: 250px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
ul.services li .img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
}
ul.services li .img img {
  width: 100%;
  border-radius: 8px;
}
ul.services li span {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 7px;
  color: #fff;
  padding: 5px;
}
