html,body{
  margin:0;
  padding:0;
}
body{
  background:#f4f3f1 url('../images/bg.jpg');
  font-size:16px;
  font-family: "Ubuntu";
  padding-bottom:20px;
}
h1{
  font-size:0em;
}
h2{
  font-size:4em;
  margin:0;
  padding:0;
}
h3{
  font-size:2em;
  padding:0;
  margin:0.7em;
}
h4{
  font-size:2em;
}
h5{
  font-size:0.5em;
}
header{
  position:relative;
  margin:0 auto;
  margin-bottom:20px;
  width:960px;
}
header h1{
  width:471px;
  height:93px;
  background: transparent url('../images/logo.png') no-repeat;
  background-size:80%;
  text-indent:-9999px;
  margin:0;
  padding:0;
}
header nav{
  font-family: 'Aaargh';
  font-size:1.2em;
  position:absolute;
  bottom:0;
  right:0;
}
header nav a{
  color:#000;
  text-decoration:none;
  padding:5px 10px;
}
header nav a:active{

}
header .tel{
  position:absolute;
  right:0;
  top:0;
  font-size:3.2em;
  line-height:1em;
  font-family:"Raleway";
  text-shadow:0px 0px 2px #000;
}
header .tel span{
  color:#52a8e3;
  text-shadow:0px 0px 2px #52a8e3;
}
header .tel ul{
  display:inline-block;
  list-style:none;
  margin:0;
  padding:0;
  color:#52a8e3;
  font-family:"Raleway";
  text-shadow:0px 0px 2px #52a8e3;
}
header .tel ul li{
  font-size:0.5em;
  line-height:1em;
}
.header img{
  width:100%;
  height:auto;
}
#container{
  margin:0 auto;
  width:960px;
}
h3.bluetitle{
  margin:10px;
  padding:5px;

  text-shadow:0px 0px 2px rgba(0,127,225,0.5);
  color:#007FE1;
  text-rendering:optimizeLegibility;
  font-family: "Raleway";
}
footer{}
footer .container{
  width:960px;
  margin:0 auto;
  overflow:hidden;
  background-color:#1e2225;
  color:#F4F4F4;
  box-shadow:0px 0px 10px rgba(0,0,0,0.4);
}
footer .container ul.blocks{

  
  list-style: none;
}
footer .container .blocks .block{
  width: 30.666666666667%;
  float: left;
  display: block;

  margin-left: 1.33333333333333%;
  margin-right: 1.33333333333333%;
  margin-top:8px;
  margin-bottom:8px;
}

footer .container .blocks .block h4{
  font-family:"Segoe ui";
  font-weight: normal;
  padding:0;
  margin:0;
}
footer .container .blocks .block ul{
  margin:0;
  padding:0;
  list-style:none;
}
footer .container .blocks .block ul li{
  font-family:"Montaga";
  color:#f4f4f4;
  padding-left:10px;
}
footer .container .blocks .block ul li span.icon,
footer .container .blocks .block ul li span.iconsocial{
  font-size:130%;
  padding-right:5px;
}
footer .twitterLink a,
footer .container .blocks .block ul li a{
  text-decoration: none;
  color:#f4f4f4;
  
}
footer .copyright{
  font-family:"Raleway";
}
footer .copyright .container{
  width:940px;
  margin:0 auto;
  padding:10px;
  text-align:right;
  background-color:#f4f4f4;
  border-top:1px solid #cdcdcd;
  color:#1e2225;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:10px;
}
  footer .copyright .container a{
    text-decoration: none;
    color:#141414;
    font-style: italic;
  }
  input.ui,
  textarea.ui{
    border-radius:7px;
    border:1px solid rgba(0,0,0,0.3);
    color:#000;
  }
.icon,
.iconsocial{
  
}
.icon{
  font-family:"PrismaIcon";
}
.iconsocial{
  font-family:"SocialIcon";
}
#container{
  padding:0;
  padding-top:10px;
}
.blanco{
  background-color:#FFF;
  box-shadow:0px 0px 10px rgba(0,0,0,0.4);
  margin:0;
  padding:0;
  overflow:hidden;
}
.bTopradius{
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.bBottomradius{
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px; 
}
#container h2{
  margin:20px;
  padding:10px;
  padding-top:0;
  margin-top:0;
  text-shadow:0px 0px 2px rgba(0,94,166,0.5);
  color:#005EA6;
  text-rendering:optimizeLegibility;
  font-family: "Raleway";
}
#slider{
  position:relative;
  overflow:hidden;
  margin:0 auto;
}
#slider ul.bjqs li.bjqs-slide img{
  border-radius:9px;
  overflow: hidden;
}
#slider ul.bjqs-controls.v-centered{

}
#slider ul.bjqs-controls.v-centered li.bjqs-prev,
#slider ul.bjqs-controls.v-centered li.bjqs-next{
  display:block;
  border:1px solid #000;
}
#slider ul.bjqs-controls.v-centered li.bjqs-prev a,
#slider ul.bjqs-controls.v-centered li.bjqs-next a{
  text-decoration:none;
  color:rgba(255,255,255,0.5);
  font:100px "PrismaIcon";
}
#slider ul.bjqs-controls.v-centered ol.bjqs-markers{
  position:absolute;
  top:0;
}
#container ul.features{
  margin-top: 10px;
  padding:15px 0;
  position:relative;
}

#container ul.features li{
  width:278px;
  display:inline-block;
  padding:0 10px;
  vertical-align:top;
}
#container ul.features li .title{
  
  height:50px;
  vertical-align: middle;
}
#container ul.features li h3{
  font-size:22px;
  line-height:26px;
  font-family: "Raleway";
  margin:0;
  padding:0;
  display:inline-block;
  width:228px;
  vertical-align: middle;
  color:#3da2cc;
  text-shadow:0px 0px 2px #3da2cc;
}
#container ul.features li h3 span.sub{
  display:block;
  font-size:80%;
  color:#000;
  text-shadow:0px 0px 1px rgba(0,0,0,0.5);
  margin:0;
  padding:0;
}
#container ul.features li span.icon{
  vertical-align: middle;
  text-align: center;
  color:#FFF;
  background-color:#729bc9;
  font-family: 'PrismaIcon';
  border-radius:25px;
  text-align: center;
  text-shadow:0px 1px 2px rgba(0,0,0,0.5);
  display:inline-block;
  font-size:25px;
  margin:0;
  padding:0 12px 10px 12px;
}
#container ul.features li p{
  margin:5px 0;
  text-align: justify;
  padding:3px;
}
#container .prisma{
  width:100%;
  height:auto;
  margin-bottom:10px;
  overflow: hidden;
}
#container .pages{
  padding:20px;
  margin:0;
  position: relative;
}
  #container .pages .block{
    margin:0;
    padding:0;
    overflow:hidden;
  }
  #container .pages .block .somos{
    color:#999ba7;
    text-align: justify;
    width:300px;
    float:left;
    margin-left:100px;
    margin-top:30px;
    font-size:113%;
  }
  #container .pages .block .galeria{
    height:187px;
    width:420px;
    float:right;
  }
    #container .pages .block .galeria img{
      width:100%;
      box-shadow:0px 0px 5px rgba(0,0,0,0.5);
      border-radius: 9px;
    }
#container .pages .exp{
  margin:0 50px;
  text-align: justify;
}

#map{
  height:350px;
}
#map h3{
  margin:0;
  padding:0;
  font-size:18px;
}
#map ul.info{
  margin:0;
  padding:0;
  padding-left:15px;
  font-size:16px;
}
#map ul.info li{
  list-style: none;
}


#container .galery{
  text-align: center;
}
#container .galery .image{
  width:150px;
  height:150px;
  display:inline-block;
  margin:10px;
  overflow:hidden;
  box-shadow:0px 1px 6px rgba(0,0,0,0.5);
  border-radius:10px;
}

#container .galery .image img.show{
}
#container .galery .image p{
  display:none;
}

#container .galery{}
#container .galery .principal_galery{
  overflow: hidden;
  height:400px;
  position:relative;
}
#container .galery .principal_galery a.next,
#container .galery .principal_galery a.prev{
  display:block;
  background-color:rgba(0,0,0,0.5);
  color:#FFF;
  font-size:30px;
  position:absolute;
  height:35px;
  width:35px;
  line-height:30px;
  top:185px;
  border-radius: 8px;
  z-index:100;
  text-decoration: none;
}
#container .galery .principal_galery a.next{
  right:0;
}
#container .galery .principal_galery a.prev{
  left:0;
}
#container .galery .principal_galery ul{
  margin:0;
  padding:0;
  position:relative;
}
#container .galery .principal_galery ul li{
  width:960px;
  height:400px;
  position:relative;
  margin:0;
  list-style: none;
  float:left;
  display:inline;
}
#container .galery .principal_galery ul li img{
  width:960px;
  height:400px;
}
#container .galery ul.lista{
  overflow:hidden;
}
#container .galery ul.lista li{
  width:150px;
  height:100px;
  float:left;
  margin:0;
  padding:0;
  list-style: none;
}
#container .galery ul.lista li img{}
#container .galery ul.lista li span{}